.head{
      
  background-color:white;
  border:solid;
  font-family: sans-serif;
   }

body {
  font-family: sans-serif;
}


.grid {
  
  display: flex;
  display : flex;
    justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}

.item{
  margin : 10px;
  width: 250px;
  height: 360px;
  padding: 30px;
  background-color: white;
  opacity:1;
}

.item:hover{
  opacity: 0.5;
}

.grid img{
  border: 2px black;
  border-radius: 50px;
}